@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 10, 10, 10;
  --background-rgb: 255, 255, 255;
  --border-rgba: 218, 218, 225, 0.8;
  --input-focus-border-rgba: 218, 218, 225, 1.4;
  --profile-border-rgb: 208, 215, 222;
  --profile-background-rgb: 246, 248, 250;
  --profile-input-focus-background-rgb: 255, 255, 255;
  --ql-editor-placeholder-rgb: 208, 208, 208;
  --ql-eidtor-foreground-rgb: 68, 68, 68;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 242, 242, 242;
    --background-rgb: 24, 25, 27;
    --border-rgba: 255, 255, 255, 0.15;
    --input-focus-border-rgba: 255, 255, 255, 0.5;
    --profile-border-rgb: 48, 54, 61;
    --profile-background-rgb: 13, 17, 22;
    --profile-input-focus-background-rgb: 2, 4, 10;
    --ql-editor-placeholder-rgb: 169, 169, 169;
    --ql-eidtor-foreground-rgb: 68, 68, 68;
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  width: 100%;
  height: 100%;
}

*, ::before, ::after {
  border-color: rgba(var(--border-rgba));
}

input:focus {
  border-width: 2px;
  border-color: rgba(var(--input-focus-border-rgba));
}

.profile .content-item {
  border-width: 1px;
  border-color: rgb(var(--profile-border-rgb));
  border-radius: 0.5rem;
  background-color: rgb(var(--profile-background-rgb));
  width: 60%;
  height: 2.5rem;
  padding: 8px 12px;
  font-weight: 400;
}

.profile .input-item {
  border-width: 1px;
  border-color: rgb(var(--profile-border-rgb));
  border-radius: 0.5rem;
  background-color: rgb(var(--profile-background-rgb));
  width: 60%;
  height: 2.5rem;
  padding: 4px 12px;
  font-weight: 400;
}

.profile .input-item:focus {
  background-color: rgb(var(--profile-input-focus-background-rgb));
}

.note {
  min-height: 17px;
  margin: 4px 0 2px;
  font-size: 12px;
  color: rgb(87,96,106);
}

:focus {
  outline: none;
}

.ql-view {
  padding: 12px 0 !important;
}

.ql-toolbar.ql-snow {
  background-color: rgb(var(--background-rgb)) !important;
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
  border-color: rgb(var(--border-rgba)) !important;
}

.ql-toolbar.ql-snow:hover {
  border-width: 2px;
}

.ql-formats {
  background-color: rgb(var(--background-rgb)) !important;
  color: rgb(var(--foreground-rgb)) !important;
}

.ql-container.ql-snow {
  background-color: rgb(var(--background-rgb)) !important;
  border-bottom-left-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
  border-color: rgb(var(--border-rgba)) !important;
}

.ql-editor.ql-blank::before {
  color: rgb(var(--ql-editor-placeholder-rgb)) !important;
}

.ql-editor:focus {
  border-width: 1px;
  border-bottom-left-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
  border-color: rgb(var(--border-rgba)) !important;
}

.ql-picker {
  color: rgb(var(--ql-eidtor-foreground-rgb)) !important;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  border-color: rgba(var(--border-rgba)) !important;
}

.ql-picker-options {
  border-color: rgba(var(--border-rgba)) !important;
  background-color: rgb(var(--background-rgb)) !important;
  color: rgb(87, 96, 106);
}
